In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("q_quora.csv")
df.sample(5)

C:\Users\HP\AppData\Local\Temp\ipykernel_19244\3667460292.py:1: DtypeWarning: Columns (7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("q_quora.csv")

,id,qid1,qid2,question1,question2,is_duplicate,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
177355,177355,350351,350352,Can you use celebrity photos in an app?,Can you use publicly available celebrity photo...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328989,328989,645203,645204,"""Believers:"" What makes you think your religio...",What makes you believe the religion you practi...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42593,42593,84832,84833,Sitting in India How to sell in US?,Ebay: How do I sell in the US while having a n...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369314,369314,722750,722751,Why do people ask so many Googleable questions...,Why do people ask questions on Quora that coul...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79809,79809,158544,158545,How do you troubleshoot a GFCI power outlet th...,How does a GFCI breaker differ from an outlet?,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.iloc[:, 3:6]

In [4]:
df.sample(5)

,question1,question2,is_duplicate
350429,What should I do to reduce weight?,I'm fat. How do I lose weight?,1
175708,My friend and I have a good plan for running a...,We are planning to launch a website. What are ...,0
244023,What are the must-do things in Darjeeling?,What are the best things you can do in Darjeel...,0
22555,What is your favorite Dilip Kumar movie and why?,Which is the best movie of Dilip Kumar?,1
234392,What is the history of INSEAD's language requi...,"If a person is born deaf, which language do th...",0

In [5]:
def make_int(num):
    try:
        return int(num)
    except:
        return -1
        
df['is_duplicate'] = df['is_duplicate'].apply(make_int)

In [6]:
df['is_duplicate'].value_counts()

is_duplicate
 0    254748
 1    149267
-1       336
Name: count, dtype: int64

In [7]:
df = df.drop(df[df['is_duplicate'] == -1].index)
df['is_duplicate'].value_counts()

is_duplicate
0    254748
1    149267
Name: count, dtype: int64

In [8]:
df.shape

(404015, 3)

In [9]:
df.sample(5)

,question1,question2,is_duplicate
260959,How can the drive from Edmonton to Auckland be...,How can the drive from Edmonton to Auckland be...,1
391673,How do I concentrate on my studies without get...,How do I concentrate on my studies without get...,1
268944,How does one begin research in theoretical phy...,What should I do to work on research in theore...,1
77542,What is a suitable solar panel installation pr...,What is a suitable solar panel installation pr...,0
260608,How do you call a destructor inside another de...,What does a destructor do and when is it called?,0

In [10]:
df.drop(df[df['question1'].isna()].index, inplace = True)
df.drop(df[df['question2'].isna()].index, inplace = True)
df['question2'].isna().sum()

0

In [11]:
X = df.iloc[:, :2]
y = df.iloc[:, 2]
X.head(5)

,question1,question2
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?

<h2>Lower Casing</h2>

In [12]:
X['question1'] = X['question1'].apply(lambda x : x.lower())
X['question2'] = X['question2'].apply(lambda x : x.lower())

df.head(5)

,question1,question2,is_duplicate
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

<h2>Remove HTML tags and URLs</h2>
<h4>Since there are no HTML tags and URLs we can move forward</h4>

<h2>Remove Punctuation marks</h2>

In [13]:
import string

punctuation_marks = string.punctuation

# We excluded '!' & '@' from punctuations as it could give useful information. 
punctuation_marks = punctuation_marks[1:20] + punctuation_marks[21:]

def remove_punctuations(text):
    return text.translate(str.maketrans(punctuation_marks, ' '*len(punctuation_marks)))

X['question1'] = X['question1'].apply(remove_punctuations)
X['question2'] = X['question2'].apply(remove_punctuations)
X.head(10)

,question1,question2
0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...
1,what is the story of kohinoor koh i noor dia...,what would happen if the indian government sto...
2,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...
3,why am i mentally very lonely? how can i solve...,find the remainder when math 23 24 math i...
4,which one dissolve in water quikly sugar salt...,which fish would survive in salt water?
5,astrology i am a capricorn sun cap moon and c...,i m a triple capricorn sun moon and ascendan...
6,should i buy tiago?,what keeps childern active and far from phone ...
7,how can i be a good geologist?,what should i do to be a great geologist?
8,when do you use シ instead of し?,when do you use instead of and ?
9,motorola company can i hack my charter moto...,how do i hack motorola dcx3400 for free internet?

<h2>Chat Word Removal</h2>

<h4>Not much required as didn't find any</h4>

In [18]:
# import csv
# import re

# from tqdm import tqdm 

# tqdm.pandas()

# # Git hub link for the same can be found here : https://github.com/rishabhverma17/sms_slang_translator
# def chat_word_converter(user_string):
#     user_string = user_string.split(" ")
#     j = 0
#     for _str in user_string:
#         # File path which consists of Abbreviations.
#         fileName = "slang.txt"
#         # File Access mode [Read Mode]
#         accessMode = "r"
#         with open(fileName, accessMode) as myCSVfile:
#             # Reading file as CSV with delimiter as "=", so that abbreviation are stored in row[0] and phrases in row[1]
#             dataFromFile = csv.reader(myCSVfile, delimiter="=")
#             # Removing Special Characters.
#             _str = re.sub('[^a-zA-Z0-9-_.]', '', _str)
#             for row in dataFromFile:
#                 # Check if selected word matches short forms[LHS] in text file.
#                 if _str.upper() == row[0]:
#                     # If match found replace it with its Abbreviation in text file.
#                     user_string[j] = row[1]
#             myCSVfile.close()
#         j = j + 1
#     # Replacing commas with spaces for final output.
#     return ' '.join(user_string).lower()

# # print(chat_word_converter("Hi bro ltns"))

# X['question1'] = X['question1'].progress_apply(chat_word_converter)
# X['question2'] = X['question2'].progress_apply(chat_word_converter)
# X.sample(5)

<h2>Spelling checking</h2>

In [20]:
from spello.model import SpellCorrectionModel
import pickle
sp = SpellCorrectionModel(language = "en")
sp.load("en.pkl")

D:\Leaning_NLP\myenv\Lib\site-packages\spello\model.py:301: UserWarning: This model was saved on spell<1.3.0. As such due to a bug in previous versions, none of customisations made to the config at the time of training were saved along with the model. It is recommended to load the model, apply all required customizations to config and save it again. E.g.

from spello.model import SpellCorrectionModel
sp = SpellCorrectionModel(language='en')
sp.load('/home/ubuntu/model.pkl')
sp.config.min_length_for_spellcorrection = 4 # default is 3
sp.config.max_length_for_spellcorrection = 12 # default is 15
sp.save(model_save_dir='/home/ubuntu/')

After this the model will load without any warnings

  warnings.warn("This model was saved on spell<1.3.0. As such due to a bug in previous versions, "

In [23]:
def spell_correction(text):
    p = sp.spell_correct(text)
    return p['spell_corrected_text']

X['question1'] = X['question1'].progress_apply(spell_correction)
X['question2'] = X['question2'].progress_apply(spell_correction)

In [22]:
X.head(10)

,question1,question2
0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...
1,what is the story of knoop koh i noor diamond,what would happen if the indian government sto...
2,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...
3,why am i mentally very lonely how can i solve it,find the remainder when math 23 24 math i...
4,which one dissolve in water quickly sugar sal...,which fish would survive in salt water
5,astrology i am a capricorn sun cap moon and c...,i m a triple capricorn sun moon and ascendan...
6,should i buy taiga,what keeps children active and far from phone ...
7,how can i be a good geologist,what should i do to be a great geologist
8,when do you use シ instead of し,when do you use instead of and
9,motorola company can i hack my charter moto...,how do i hack motorola dcx3400 for free internet

<h2>Remove Stop Words</h2>

In [27]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
en = stopwords.words("english")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [28]:
# Except not we take all the stop words as not will play an in important role in determining sentiment of the questions

new_en = []
for word in en:
    if word not in  ["not", "isn't"] :
        new_en.append(word)

en = new_en

In [29]:
en

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [30]:
def remove_stopwords(text):
    new_text = []
    words = text.split(" ")
    for word in words:
        if word not in en:
            new_text.append(word)
    new_text = new_text[:]      
    return " ".join(new_text)

In [32]:
X['question1'] = X['question1'].progress_apply(remove_stopwords)
X['question2'] = X['question2'].progress_apply(remove_stopwords)

100%|██████████████████████████████████████████████████████████████████| 404012/404012 [00:12<00:00, 32839.84it/s]
100%|██████████████████████████████████████████████████████████████████| 404012/404012 [00:11<00:00, 34371.84it/s]

In [33]:
X.head(10)

,question1,question2
0,step step guide invest share market india,step step guide invest share market
1,story knoop koh noor diamond,would happen indian government stole knoop ko...
2,increase speed internet connection using vpn,internet speed increased hacking dense
3,mentally lonely solve,find remainder math 23 24 math divided 24 23
4,one dissolve water quickly sugar salt methan...,fish would survive salt water
5,astrology capricorn sun cap moon cap rising ...,triple capricorn sun moon ascendant capricor...
6,buy taiga,keeps children active far phone video games
7,good geologist,great geologist
8,use シ instead し,use instead
9,motorola company hack charter motorola dcx3400,hack motorola dcx3400 free internet