In [116]:
import pandas as pd
import sklearn
from tqdm import tqdm
import numpy as np
tqdm.pandas()

In [74]:
df = pd.read_csv("D:\\Leaning_NLP\\tmdb_data.csv")
df.sample(5)

,Unnamed: 0,original_language,original_title,overview,genre
1148,1148,en,Treasure Planet,"['space', 'galleon', 'cabin', 'boy', 'jim', 'h...","['Adventure', 'Animation', 'Family', 'Fantasy'..."
1906,1906,ru,Русский ковчег,"['ghost', 'french', 'marqui', 'wander', 'winte...","['Drama', 'Fantasy', 'History']"
1483,1483,it,Lo chiamavano Jeeg Robot,"['come', 'contact', 'radioact', 'wast', 'small...","['Drama', 'Action', 'Comedy']"
1361,1361,en,"To Sir, with Love","['british', 'guianes', 'engin', 'start', 'job'...",['Drama']
623,623,en,Guy Ritchie's The Covenant,"['war', 'afghanistan', 'local', 'interpret', '...","['War', 'Action', 'Thriller']"

In [75]:
corpus = []
new_overview = []
from collections import Counter
for document in df['overview']:
    document = document[2:-2]
    document = document.split("', '")
    new_overview.append(document)
    for word in document:
        corpus.append(word)

df['overview'] = new_overview
# df.head(10)
print(len(corpus))

c = Counter(corpus)

corpus = set(corpus)
print(len(corpus))
# # print(corpus)

53852
10143

In [105]:
mp = {}
for i, tup in enumerate(c.most_common(100)):
    mp[tup[0]] = i

In [103]:
print(c.most_common(100))
p = [item[0] for item in c.most_common(100)]

[('life', 384), ('find', 320), ('young', 307), ('one', 267), ('famili', 258), ('live', 256), ('world', 252), ('new', 251), ('love', 220), ('man', 214), ('take', 211), ('two', 211), ('becom', 202), ('year', 199), ('friend', 186), ('stori', 182), ('war', 169), ('get', 162), (' ', 160), ('must', 160), ('’s', 147), ('home', 140), ('forc', 138), ('woman', 137), ('tri', 136), ('begin', 133), ('father', 132), ('help', 132), ('meet', 132), ('school', 131), ('girl', 130), ('make', 129), ('time', 128), ('—', 128), ('mother', 125), ('day', 124), ('turn', 124), ('not', 122), ('set', 121), ('discov', 121), ('mysteri', 120), ('way', 117), ('boy', 117), ('work', 115), ('daughter', 107), ('wife', 106), ('back', 105), ('fall', 105), ('son', 103), ('soon', 103), ('s', 99), ('town', 97), ('return', 96), ('first', 96), ('come', 95), ('fight', 94), ('human', 93), ('name', 92), ('old', 91), ('murder', 90), ('power', 89), ('death', 85), ('save', 83), ('decid', 83), ('three', 83), ('group', 83), ('kill', 82), ('citi', 82), ('leav', 81), ('struggl', 80), ('learn', 80), ('start', 79), ('follow', 79), ('lead', 79), ('crime', 77), ('go', 77), ('togeth', 76), ('attempt', 75), ('end', 75), ('escap', 75), ('order', 75), ('danger', 74), ('face', 74), ('peopl', 73), ('team', 73), ('true', 72), ('marri', 70), ('small', 70), ('journey', 70), ('chang', 70), ('prison', 69), ('american', 69), ('film', 69), ('men', 68), ('–', 68), ('even', 68), ('polic', 68), ('brother', 67), ('event', 66), ('howev', 65)]

<h2>One-Hot-Encoding</h2>
<h4>We take only first 100 most_common</h4>

In [123]:

def one_hot_encoding(document):
    lst = []
    for word in document:
        temp = [0 for i in range(100)]
        try:
            temp[mp[word]] = 1 
        except:
            pass
        finally:
            lst.append(temp)
    return np.array(lst)

lst = np.array(df['overview'].progress_apply(one_hot_encoding))

100%|███████████████████████████████████████████████████████████████████████████████████████████████| 2000/2000 [00:00<00:00, 3721.25it/s]

<h2>Bag Of Words</h2>