In [4]:
import pandas as pd
import sklearn

In [74]:
df = pd.read_csv("D:\\Leaning_NLP\\tmdb_data.csv")
df.sample(5)

,Unnamed: 0,original_language,original_title,overview,genre
1148,1148,en,Treasure Planet,"['space', 'galleon', 'cabin', 'boy', 'jim', 'h...","['Adventure', 'Animation', 'Family', 'Fantasy'..."
1906,1906,ru,Русский ковчег,"['ghost', 'french', 'marqui', 'wander', 'winte...","['Drama', 'Fantasy', 'History']"
1483,1483,it,Lo chiamavano Jeeg Robot,"['come', 'contact', 'radioact', 'wast', 'small...","['Drama', 'Action', 'Comedy']"
1361,1361,en,"To Sir, with Love","['british', 'guianes', 'engin', 'start', 'job'...",['Drama']
623,623,en,Guy Ritchie's The Covenant,"['war', 'afghanistan', 'local', 'interpret', '...","['War', 'Action', 'Thriller']"

In [75]:
corpus = []
new_overview = []
from collections import Counter
for document in df['overview']:
    document = document[2:-2]
    document = document.split("', '")
    new_overview.append(document)
    for word in document:
        corpus.append(word)

df['overview'] = new_overview
# df.head(10)
print(len(corpus))

c = Counter(corpus)


corpus = set(corpus)
print(len(corpus))
# # print(corpus)

53852
10143

In [51]:
mp = {}
for i, word in enumerate(corpus):
    mp[word] = i

In [98]:
print(c.most_common(10))
p = [item[0] for item in c.most_common(10)]

[('life', 384), ('find', 320), ('young', 307), ('one', 267), ('famili', 258), ('live', 256), ('world', 252), ('new', 251), ('love', 220), ('man', 214)]